
.subtitle{

    padding: 2rem;
    margin: 4rem 0;
    font-size: 1.6rem;
    text-align: center;
    border-top: 1px dotted gray;
    border-bottom: 1px dotted gray;
}
.sub{

    
        font-size: x-large;
        font-family: fantasy;
    }
   